<div>
	<select ng-change="onTypeChange()" ng-model="type">
		<option  value="I">Image</option>
		<option value="V">Video</option>
		<option value="T">Text</option>
	</select><br /> <br />

	<div ng-show="type=='I' || type=='V'">
		Title <input type="text" ng-model="title" /><br /> <br />
		Url <input type="text" ng-model="url" /><br /> <br />
	</div>

	<div ng-show="type=='T'">
		<lzy-text-editor text-written="textEntry"></lzy-text-editor>
	</div>

	<div>
		<input type="button" value="submit" ng-click="submitButtonClick()" />
	</div>
</div>

