<div>
	<select ng-model="type">
		<option value="image">Image</option>
		<option value="video">Video</option>
		<option value="text">Text</option>
	</select><br /> <br />

	<div ng-show="type=='image'">
		Image Title <input type="text" ng-model="title" /><br /> <br />
		Image Url <input type="text" ng-model="imageUrl" /><br /> <br />
	</div>


	<div ng-show="type=='video'">
		Video Url <input type="text" ng-model="videoUrl">
	</div>

	<div ng-show="type=='text'">
		<lzy-text-editor text-written="textEntry"></lzy-text-editor>
	</div>


</div>

