<div>
	<lzy-content-upload-selector  type="postType" title="title" url="url" text-entry="editorText"></lzy-content-upload-selector>
	<div>
		<input type="button" value="submit" ng-click="submitButtonClick()" />
	</div>
	<div ng-show="postType=='I'">
		<lzy-image-entry data-entry-title="title" url="url"></lzy-image-entry>
	</div>
	<div ng-show="postType=='V'">
		<lzy-video-entry video-title="title" youtube-url="url"></lzy-video-entry>
	</div>
	<div ng-show="postType=='T'">
		<lzy-text-entry text-input="editorText" text-to-bind=""></lzy-text-entry>
	</div>
</div>