<div style="background-color: #FFF; margin-left: auto; margin-right: auto; box-shadow: 3px 5px 10px 3px #CCC">
	<!--Quill's Implementation -->
	<div class="quill-wrapper" style="margin: 10px;">
		<!--Quill's ToolBar -->
		<div class="col-xs-12">
			<div id="toolbar" class="toolbar ql-toolbar ql-snow"
				style="border-bottom: 1px solid #CCC">
				<span class="ql-format-group"> <select class="ql-font"
					title="Font">
						<option value="sans-serif" selected>Sans-Serif</option>
						<option value="serif">Serif</option>
						<option value="monospace">Monospace</option>
				</select> <select class="ql-size">
						<option value="10px">Small</option>
						<option value="13px" selected>Normal</option>
						<option value="18px">Large</option>
						<option value="32px">Huge</option>
				</select>
				</span> <span class="ql-format-group"> <span title="Bold"
					class="ql-format-button ql-bold"></span> <span
					class="ql-format-separator"></span> <span title="Italic"
					class="ql-format-button ql-italic"></span> <span
					class="ql-format-separator"></span> <span title="Strike"
					class="ql-format-button ql-strike"></span> <span
					class="ql-format-separator"></span> <span title="Underline"
					class="ql-format-button ql-underline"></span>
				</span> <span class="ql-format-group"> <select
					class="ql-color ql-picker ql-color-picker">
						<option style="background-color: rgb(0, 0, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(0, 0, 0)"></option>
						<option style="background-color: rgb(230, 0, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(230, 0, 0)"></option>
						<option style="background-color: rgb(255, 153, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(255, 153, 0)"></option>
						<option style="background-color: rgb(255, 255, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(255, 255, 0)"></option>
						<option style="background-color: rgb(0, 138, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(0, 138, 0)"></option>
						<option style="background-color: rgb(0, 102, 204);"
							class="ql-picker-item ql-primary-color" value="rgb(0, 102, 204)"></option>
						<option style="background-color: rgb(153, 51, 255);"
							class="ql-picker-item ql-primary-color" value="rgb(153, 51, 255)"></option>
						<option style="background-color: rgb(255, 255, 255);"
							class="ql-picker-item" value="rgb(255, 255, 255)"></option>
						<option style="background-color: rgb(250, 204, 204);"
							class="ql-picker-item" value="rgb(250, 204, 204)"></option>
						<option style="background-color: rgb(255, 235, 204);"
							class="ql-picker-item" value="rgb(255, 235, 204)"></option>
						<option style="background-color: rgb(255, 255, 204);"
							class="ql-picker-item" value="rgb(255, 255, 204)"></option>
						<option style="background-color: rgb(204, 232, 204);"
							class="ql-picker-item" value="rgb(204, 232, 204)"></option>
						<option style="background-color: rgb(204, 224, 245);"
							class="ql-picker-item" value="rgb(204, 224, 245)"></option>
						<option style="background-color: rgb(235, 214, 255);"
							class="ql-picker-item" value="rgb(235, 214, 255)"></option>
						<option style="background-color: rgb(187, 187, 187);"
							class="ql-picker-item" value="rgb(187, 187, 187)"></option>
						<option style="background-color: rgb(240, 102, 102);"
							class="ql-picker-item" value="rgb(240, 102, 102)"></option>
						<option style="background-color: rgb(255, 194, 102);"
							class="ql-picker-item" value="rgb(255, 194, 102)"></option>
						<option style="background-color: rgb(255, 255, 102);"
							class="ql-picker-item" value="rgb(255, 255, 102)"></option>
						<option style="background-color: rgb(102, 185, 102);"
							class="ql-picker-item" value="rgb(102, 185, 102)"></option>
						<option style="background-color: rgb(102, 163, 224);"
							class="ql-picker-item" value="rgb(102, 163, 224)"></option>
						<option style="background-color: rgb(194, 133, 255);"
							class="ql-picker-item" value="rgb(194, 133, 255)"></option>
						<option style="background-color: rgb(136, 136, 136);"
							class="ql-picker-item ql-selected" value="rgb(136, 136, 136)"></option>
						<option style="background-color: rgb(161, 0, 0);"
							class="ql-picker-item" value="rgb(161, 0, 0)"></option>
						<option style="background-color: rgb(178, 107, 0);"
							class="ql-picker-item" value="rgb(178, 107, 0)"></option>
						<option style="background-color: rgb(178, 178, 0);"
							class="ql-picker-item" value="rgb(178, 178, 0)"></option>
						<option style="background-color: rgb(0, 97, 0);"
							class="ql-picker-item" value="rgb(0, 97, 0)"></option>
						<option style="background-color: rgb(0, 71, 178);"
							class="ql-picker-item" value="rgb(0, 71, 178)"></option>
						<option style="background-color: rgb(107, 36, 178);"
							class="ql-picker-item" value="rgb(107, 36, 178)"></option>
						<option style="background-color: rgb(68, 68, 68);"
							class="ql-picker-item" value="rgb(68, 68, 68)"></option>
						<option style="background-color: rgb(92, 0, 0);"
							class="ql-picker-item" value="rgb(92, 0, 0)"></option>
						<option style="background-color: rgb(102, 61, 0);"
							class="ql-picker-item" value="rgb(102, 61, 0)"></option>
						<option style="background-color: rgb(102, 102, 0);"
							class="ql-picker-item" value="rgb(102, 102, 0)"></option>
						<option style="background-color: rgb(0, 55, 0);"
							class="ql-picker-item" value="rgb(0, 55, 0)"></option>
						<option style="background-color: rgb(0, 41, 102);"
							class="ql-picker-item" value="rgb(0, 41, 102)"></option>
						<option style="background-color: rgb(61, 20, 102);"
							class="ql-picker-item" value="rgb(61, 20, 102)"></option>
				</select> <span class="ql-format-separator"></span> <select
					class="ql-background ql-picker ql-color-picker">
						<option style="background-color: rgb(0, 0, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(0, 0, 0)"></option>
						<option style="background-color: rgb(230, 0, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(230, 0, 0)"></option>
						<option style="background-color: rgb(255, 153, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(255, 153, 0)"></option>
						<option style="background-color: rgb(255, 255, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(255, 255, 0)"></option>
						<option style="background-color: rgb(0, 138, 0);"
							class="ql-picker-item ql-primary-color" value="rgb(0, 138, 0)"></option>
						<option style="background-color: rgb(0, 102, 204);"
							class="ql-picker-item ql-primary-color" value="rgb(0, 102, 204)"></option>
						<option style="background-color: rgb(153, 51, 255);"
							class="ql-picker-item ql-primary-color" value="rgb(153, 51, 255)"></option>
						<option style="background-color: rgb(255, 255, 255);"
							class="ql-picker-item" value="rgb(255, 255, 255)"></option>
						<option style="background-color: rgb(250, 204, 204);"
							class="ql-picker-item" value="rgb(250, 204, 204)"></option>
						<option style="background-color: rgb(255, 235, 204);"
							class="ql-picker-item" value="rgb(255, 235, 204)"></option>
						<option style="background-color: rgb(255, 255, 204);"
							class="ql-picker-item" value="rgb(255, 255, 204)"></option>
						<option style="background-color: rgb(204, 232, 204);"
							class="ql-picker-item" value="rgb(204, 232, 204)"></option>
						<option style="background-color: rgb(204, 224, 245);"
							class="ql-picker-item" value="rgb(204, 224, 245)"></option>
						<option style="background-color: rgb(235, 214, 255);"
							class="ql-picker-item" value="rgb(235, 214, 255)"></option>
						<option style="background-color: rgb(187, 187, 187);"
							class="ql-picker-item" value="rgb(187, 187, 187)"></option>
						<option style="background-color: rgb(240, 102, 102);"
							class="ql-picker-item" value="rgb(240, 102, 102)"></option>
						<option style="background-color: rgb(255, 194, 102);"
							class="ql-picker-item" value="rgb(255, 194, 102)"></option>
						<option style="background-color: rgb(255, 255, 102);"
							class="ql-picker-item" value="rgb(255, 255, 102)"></option>
						<option style="background-color: rgb(102, 185, 102);"
							class="ql-picker-item" value="rgb(102, 185, 102)"></option>
						<option style="background-color: rgb(102, 163, 224);"
							class="ql-picker-item" value="rgb(102, 163, 224)"></option>
						<option style="background-color: rgb(194, 133, 255);"
							class="ql-picker-item" value="rgb(194, 133, 255)"></option>
						<option style="background-color: rgb(136, 136, 136);"
							class="ql-picker-item ql-selected" value="rgb(136, 136, 136)"></option>
						<option style="background-color: rgb(161, 0, 0);"
							class="ql-picker-item" value="rgb(161, 0, 0)"></option>
						<option style="background-color: rgb(178, 107, 0);"
							class="ql-picker-item" value="rgb(178, 107, 0)"></option>
						<option style="background-color: rgb(178, 178, 0);"
							class="ql-picker-item" value="rgb(178, 178, 0)"></option>
						<option style="background-color: rgb(0, 97, 0);"
							class="ql-picker-item" value="rgb(0, 97, 0)"></option>
						<option style="background-color: rgb(0, 71, 178);"
							class="ql-picker-item" value="rgb(0, 71, 178)"></option>
						<option style="background-color: rgb(107, 36, 178);"
							class="ql-picker-item" value="rgb(107, 36, 178)"></option>
						<option style="background-color: rgb(68, 68, 68);"
							class="ql-picker-item" value="rgb(68, 68, 68)"></option>
						<option style="background-color: rgb(92, 0, 0);"
							class="ql-picker-item" value="rgb(92, 0, 0)"></option>
						<option style="background-color: rgb(102, 61, 0);"
							class="ql-picker-item" value="rgb(102, 61, 0)"></option>
						<option style="background-color: rgb(102, 102, 0);"
							class="ql-picker-item" value="rgb(102, 102, 0)"></option>
						<option style="background-color: rgb(0, 55, 0);"
							class="ql-picker-item" value="rgb(0, 55, 0)"></option>
						<option style="background-color: rgb(0, 41, 102);"
							class="ql-picker-item" value="rgb(0, 41, 102)"></option>
						<option style="background-color: rgb(61, 20, 102);"
							class="ql-picker-item" value="rgb(61, 20, 102)"></option>
				</select>
				</span> <span class="ql-format-group"> <span
					class="ql-format-button ql-list"></span><span
					class="ql-format-separator"></span> <span
					class="ql-format-button ql-bullet"></span><span
					class="ql-format-separator"></span> <select class="ql-align">
						<option value="left"></option>
						<option value="center"></option>
						<option value="right"></option>
						<option value="justify"></option>
				</select>
				</span> <span class="ql-format-group"> <span
					class="ql-format-button ql-link" title="Link"></span>
				</span>


			</div>
		</div>

		<!-- Quill's editor -->
		<div id="editor" class="editor ql-container ql-snow focus">
			<div id="ql-editor-1" class="ql-editor" contenteditable="true">Edit text here!</div>
		</div>
	</div>
</div>
